@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');
body{
  font-size: 1.4rem;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  color: white;
  /* background: #000000;
  background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  
  background: linear-gradient(to right, #0f9b0f, #000000);  */
  background-image: url('../img/blog-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p, h1, h2, h3, a, label, button, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
/* nav & footer styles */
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  text-transform: uppercase;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}
nav h1{
  font-size: 3em;
}
nav p, nav a{
  color: whitesmoke;
  font-weight: 300;
}
footer{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: whitesmoke;
  text-align: center;
}
footer a {
  position: absolute;
  padding: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}
h2{
  margin-bottom: 3rem;
  text-align: center;
}
h3{
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content{
  margin-left: 20px;
}
/* index styles */
.blogs a{
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}
.blogs a:hover h3{
  color: crimson;
}

/* details styles */
.details{
  position: relative;
}
.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}
.delete:hover{
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
#trashcan{
  background-color: red;
  border-radius:50px;
  border: 2px solid white;
  padding: 4px;
  width:100%
}
/* create styles */
.create-blog form{
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 3px;
  border: 0;
}
.create-blog label{
  display: block;
  margin-top: 24px;
  font-weight: bold;
}
textarea{
  height: 120px;
}
.create-blog button{
  margin-top: 2rem;
  padding:  4px 8px;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.2em;
  cursor: pointer;
}
.create-blog button:hover {
  color: black;
  font-weight: bold;
}
.submitBtn {
  text-align: center;
}
